{{set . "title" "CHANT"}}

{{template "header.html" .}}

<a href="https://github.com/otiai10/chant"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div id="home">
  <h2>ちゃんとしたい</h2>
  <div id="signin">
    {{if .flash.error}}
    <p class="error">
      {{.flash.error}}
    </p>
    {{end}}
    <p>
      <a href="/auth">ﾄｩｲｯﾀー垢でログイン</a><br>
      <small>（アイコンとTwitter名の参照だけします。ツイートとかはしないです。勝手につぶやかれる系のやつ嫌いです）</small><br>
      「CHANT」とは？→ <a href="https://github.com/otiai10/chant">github.com/otiai10/chant</a>
    </p>
  </div>
</div>
{{template "footer.html" .}}
