/* ぜんたい */
body {
    background-color: #fafafa;
}

/* ひかえめなタイトル */
h1.modest {
    color: #ff9800;
    font-size: 1em;
    line-height: 2.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    transition: 0.2s;
    font-size: xx-small;
    text-align: center;
    height: 18px;
    /* max-width: 40px; */
    border-radius: 5px;
    border: none;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #dddddd;
    cursor: pointer;
}
button:focus {
    background-color: transparent;
}
button.stamp img {
    max-height: 90%;
    max-width:  90%;
    margin: auto auto;
    vertical-align: middle;
}
button.stamp:focus, button.stamp:hover {
    box-shadow: 1px 1px 4px #d0d0d0;
}
button.stamp:active {
    background-color: white;
}
button.text-decorate {
    text-align: center;
    height: 20px;
}
/* とりあえず */
iframe {
    border: none;
}

div.box {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
}

span.meta {
    margin-right: 6px;
    cursor: pointer;
}

textarea#message-input {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

div.message-wrapper {
    padding-left:  10px;
    /* まじでか
    width: 100%;
    */
    width: 5%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    word-break: break-all;
}

div.meta-wrapper {
    margin-bottom: 4px;
}

/* transition */
.newentry-enter {
    opacity: 0.01;
    transition: 0.1s;
}

.newentry-enter.newentry-enter-active {
    opacity: 1;
}

blockquote {
    border-left: 8px solid #e0e0e0;
    margin-top:    8px;
    margin-bottom: 8px;
    padding: 8px 0 0 8px;
}

blockquote img.user-icon {
    width: 32px;
}

blockquote.rich-quote {
  margin-bottom: 0;
  padding-bottom: 0;
}

.members>span>img.user-icon {
    margin-right: 8px;
}

p.line-wrap {
    margin: 0;
}

img.entry-image {
  max-height: 400px;
  max-width: 100%;
}

.stealth {
  opacity: 0;
  transition: all 0.3s;
}
.stealth.hazy {
  opacity: 0.1;
}
.stealth:hover, .stealth:focus {
  opacity: 1;
}

.clickable {
  cursor: pointer;
}

/* configs */
#configs-wrapper {
  width: 40px;
  position:fixed;
}
#configs-wrapper.display {
  right:  2px;
  bottom: 2px;
}
#configs-wrapper.hidden {
  right:  10px;
  bottom: 10px;
}
#configs-wrapper>div {
  width: 36px;
  margin: 0 auto;
  text-align: center;
}

div.web-preview {
  /*
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  */
  padding: 14px 20px;
  padding: 14px 20px 8px 20px;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  /*
  border-radius: 5px;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
  border-width: 1px;
  border-style: solid;
  */
  width: 100%;
  background-color: #fff;
}

div.web-preview>div>div.web-preview-image-wrap {
  width: 100px;
}
div.web-preview>div>div.web-preview-description-wrap {
  width: 350px;
}
div.web-preview>div>div.web-preview-description-wrap p {
  margin: 0;
  padding: 0 10px;
  font-size: small;
  color: #1C2022;
}
div.web-preview>div>div img {
  width: 100%;
}
.web-preview-title {
  font-weight: bold;
  margin-bottom: 4px;
}

img.emoji {
  height: 2em;
}

div#input-actions {
  margin-bottom: 0;
}

#emoji-list-wrapper {
  width: 86%;
  height: 100%;
  padding: 10px;
  background-color: black;
  position: fixed;
  top:  0;
  left: 0;
  overflow: scroll;
  opacity: 0.8;
  z-index: 2;
}
#emoji-list-wrapper img {
  width: 30px;
  height: 30px;
}

.amesh-wrapper {
  position: relative;
}
.amesh-wrapper>img {
  max-width: 100%;
  line-height: 0;
  /*
  position: absolute;
  top: 0;
  left: 0;
  */
}

.amesh-wrapper>img.amesh-rain {
  position: absolute;
  top: 0;
  left:0;
}
.amesh-wrapper>img.amesh-dict {
  position: absolute;
  top: 0;
  left:0;
}

/* RESET TWITTER */
.twitter-tweet-rendered {
  margin: 0 !important;
  min-width: 10px !important;
}

/* muted contents */
div.muted-contents {
  padding: 8px 20px;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
}
div.muted-contents i.fa {
  color: #888;
}
