/* ぜんたい */
body {
    background-color: #fafafa;
}

/* ひかえめなタイトル */
h1.modest {
    color: #ff9800;
    font-size: 1em;
    line-height: 2.2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.user-icon.myself:after {
    content: "XXXX";
    width: 30px;
    height: 30px;
    background-color: black;
}
button.stamp {
    font-size: xx-small;
    text-align: center;
    height: 30px;
    /* max-width: 40px; */
    border-radius: 5px;
    border: none;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #dddddd;
    cursor: pointer;
}
button.stamp img {
    max-height: 90%;
    max-width:  90%;
    margin: auto auto;
    vertical-align: middle;
}
button.stamp:active {
    background-color: white;
}
/* とりあえず */
iframe {
    border: none;
}

div.box {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
}

span.meta {
    margin-right: 6px;
    cursor: pointer;
}

div.message-wrapper {
    margin-left:  8px;
    /*
    margin-right: 12px;
    */
}

div.meta-wrapper {
    margin-bottom: 4px;
}

/* transition */
.newentry-enter {
    opacity: 0.01;
    transition: 0.2s;
}

.newentry-enter.newentry-enter-active {
    opacity: 1;
}

blockquote {
    border-left: 8px solid #e0e0e0;
    margin-top:    8px;
    margin-bottom: 0;
    padding-left:  8px;
}

blockquote img.user-icon {
    width: 32px;
}

.members>span>img.user-icon {
    margin-right: 8px;
}

p.line-wrap {
    margin: 0;
}

img.entry-image {
  max-height: 400px;
  max-width: 100%;
}
