/* desktop用 CSS */
div.user-icon-wrapper {
    cursor: pointer;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: none;
    display: inline-block;
}
div.members div.user-icon-wrapper {
    margin-right: 8px;
}

blockquote div.user-icon-wrapper {
    width: 32px;
    height: 32px;
}

div.entry {
    margin-bottom: 16px;
}

@media only screen and (max-width : 340px) {
  div.user-icon-wrapper {
    width: 46px;
    height: 46px;
  }
  div.members div.user-icon-wrapper {
    margin-right: 4px;
  }
}
