/* desktop用 CSS */
img.user-icon {
    cursor: pointer;
    border-radius: 30px;
    width: 48px;
    height: 48px;
}
blockquote img.user-icon {
    width: 32px;
    height: 32px;
}

div.entry {
    margin-bottom: 16px;
}
