/* ぜんたい */
body {
    background-color: #fefefe;
}

/* ひかえめなタイトル */
h1.modest {
    color: #ff9800;
}

img.user-icon {
    cursor: pointer;
    border-radius: 30px;
}
img.user-icon.myself:after {
    content: "XXXX";
    width: 30px;
    height: 30px;
    background-color: black;
}
button.stamp {
    font-size: xx-small;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #dddddd;
    cursor: pointer;
}
button.stamp:active {
    background-color: white;
}
/* とりあえず */
iframe {
    border: none;
}

div.box {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
}

span.meta {
    margin-right: 6px;
    cursor: pointer;
}

div.entry {
    margin-bottom: 20px;
}

div.message-wrapper {
    margin-left: 6px;
}

div.meta-wrapper {
    margin-bottom: 6px;
}

/* transition */
.example-appear {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
    opacity: 1;
}