/* desktop用 CSS */
div.user-icon-wrapper {
    cursor: pointer;
    border-radius: 30px;
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: none;
    display: inline-block;
    transition: all 0.5s;
}
div.members div.user-icon-wrapper {
    margin-right: 8px;
}

div.user-icon-wrapper.icon-myself.icon-disconnected {
    opacity: 0.6;
    position: relative;
}
div.user-icon-wrapper.icon-myself.icon-disconnected:after {
    border-top:   2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom:    2px solid #888;
    border-left:  2px solid transparent;
    border-radius: 30px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: iconLoading 1s infinite;
}

@keyframes iconLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

blockquote div.user-icon-wrapper {
    width: 32px;
    height: 32px;
}

div.entry {
    margin-bottom: 16px;
}

@media only screen and (max-width : 340px) {
  div.user-icon-wrapper {
    width: 46px;
    height: 46px;
  }
  div.members div.user-icon-wrapper {
    margin-right: 4px;
  }
  span.meta>i {
      font-size: small;
      width: 32px;
  }
}
