/* mobile用 CSS */
div.user-icon-wrapper {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-size: cover;
  display: inline-block;
}
div.members div.user-icon-wrapper {
    margin-right: 8px;
}

div.entry {
  margin-bottom: 0;
}

/* materialize-textareaうぜえ！ */
.materialize-textarea {
  margin: 0 !important;
  padding: 0 !important;
}

div.row.members-wrapper, .textinput-wrapper {
  margin-bottom: 8px;
}
div.members {
  margin-top: 12px;
}

div.container {
  padding: 0 !important;
}

input#input-file-upload {
  /* display: none; */
  /* debug */
  /*
  position: fixed;
  top: 100%;
  */
}

/* TODO: #229 textinputの長押しで実現したいんだが */
i#input-file-upload-proxy {
  position: relative;
  top: -1.4em;
  font-size: 1.4em;
  opacity: 0.5;
}
