.info-small {
    font-size: x-small;
    color: #aaa;
}
img.tl-img {
    max-width: 70%;
}
img.user-icon {
    cursor: pointer;
}
div#stamps-container {
    float: right;
    width: 150px;
    border: normal solid black;
}
.clickable {
    cursor: pointer;
}

blockquote {
    border-left: 8px solid #ddd;
    padding-left: 20px;
    color: #333;
    font-size: 0.8em;
}
blockquote img.user-icon {
    width: 38px;
}
.mentioning {
    font-weight:          bold;
}
.boxy {
    display: box;
}
#player-wrapper {
    width: 80%;
    background-color: #ddd;
}
#player {
    width:391px;
}
#playlist {
    float: right;
}
.sound-title {
}
.sound-sharer>img {
    height: 20px;
}
li.playlist-li {
    position: relative;
}
li.playlist-li.nowplaying-li:before {
    content: '▸';
    position: absolute;
    left: -40px;
}
