html, body {
    background: #fefefe;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    width: 80%;
    /* min-width: 800px; */
    margin: 0 auto;
}

h1 {
    font-family: Helvetica, Arial, Sans;
    font-size: 1.5em;
}
h1>.highlight {
    color: #cc0033;
}
h2>.highlight {
    color: #cc0033;
    font-weight: bold;
    text-shadow: 0 0 4px #cc0033;
}
div#footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    /* min-width: 800px; */
    height: 20px;
    background: -webkit-gradient(linear, left top, left bottom,
                                from(rgba(256,256,256, 0)),
                                to(  rgba(256,256,256, 1))
                );
    text-align: right;
    padding: 10px 0;
}
div#footer>a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 0.8em;
    color: #bbb;
}
div#footer>a:hover {
    color: #999;
    text-decoration: underline;
}

.info-small {
    font-size: x-small;
    color: #aaa;
}
.small {
    font-size: x-small;
}
img.tl-img {
    max-width: 400px;
    /* box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px; */
}
img.user-icon {
    cursor: pointer;
    border-radius: 30px;
}
.clickable {
    cursor: pointer;
}

blockquote {
    border-left: 8px solid #ddd;
    padding-left: 20px;
    color: #333;
    font-size: 0.8em;
    margin-left: 0;
    margin-top: 20px;
}
blockquote img.user-icon {
    width: 38px;
}
.mentioning {
    font-weight:          bold;
}
.boxy {
    display: -webkit-box;
}
#player {
    width:391px;
}
#playlist {
}
.sound-title {
}
.sound-sharer>img {
    height: 20px;
}
li.playlist-li {
    position: relative;
}
li.playlist-li.nowplaying-li:before {
    content: '▸';
    position: absolute;
    left: -40px;
}
div#dynamic-container {
    width:            100%;
}
div#fixed-container {
    float: right;
    margin-top: 24px;
}
div#player-wrapper {
    width: 410px;
    /* background-color: #ddd; */
}
span.to-stamp, span.to-mute {
    opacity: 0;
    transition: all 0.05s linear;
}
span.to-stamp:hover, span.to-mute:hover {
    opacity: 0.5;
}
.stealth {
    opacity: 0;
    transition: all 0.05s linear;
}
.stealth:hover, .stealth:focus {
    opacity: 0.5;
    border: none;
    background: transparent;
}
div#stamp-container-horizontal {
    position: relative;
    vertical-align: top;
}
button.btn-stamp {
    padding: 2px;
    height: 36px;
    width: 40px;
    vertical-align: top;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
    background: -webkit-gradient(linear, left top, left bottom,
                                 from(rgba(220,220,220, 0)),
                                 to(  rgba(220,220,220, 1))
                );
    background: -moz-linear-gradient(top, rgba(220,220,220,0), rgba(220,220,220,1));
}
button.btn-stamp img {
    max-height: 30px;
}
li.message {
    margin-bottom: 10px;
}
ol#thread {
    list-style: none;
    padding: 0;
}
/*
ol#thread>li:first-child {
    color: red;
}
*/
.entry-content-text {
    width:         85%;
    padding-left: 10px;
}
/***** スタンプも分割したほうがいいのかなー *****/
.btn-stamp>div.stamp-display {
    display: none;
}
.btn-stamp:hover > div, .btn-stamp:focus > div {
    display: inherit;
}

/***** いやーこれ分割したほうがいいのかなー *****/
div.modal-wrapper {
    position: fixed;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    overflow: scroll;
}
div.modal-background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
div.modal-contents {
    position: relative;
    z-index: 3;
    width: 80%;
    height: 100%;
    /* min-width: 800px; */
    margin: 0 auto;
    color: #fefefe;
}
td.tips.desc-title {
    width: 150px;
}
a.light {
    color: #fefefe;
    text-decoration: none;
}
a.light:hover {
    color: #fff;
    text-decoration: underline;
}
.tips-sample:hover {
    text-decoration: underline;
}
.tips.tips-title {
    position: relative;
    margin-bottom: 0;
}
.tips.tips-title:before {
    content: '»';
    position: absolute;
    left: -30px;
    top: -2px;
}

/***** いやーこれ分割したほうがいいのかなー *****/
.web-preview {
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    width: 93%;
    max-width: 480px;
}
.web-preview a {
    color: -webkit-link;
}
.og-title>a>h5 {
    margin: 0;
    margin-bottom: 5px;
}
.og-image {
    width: 100px;
}
.og-image>a>img {
    width: 90px;
}
.og-description {
    width: 78%;
    font-size: xx-small;
}
.og-no-image {
    font-size: xx-small;
}
