html {
  font-family: Helvetica; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

html {
  background-color: #FCFCFC; }

main#app {
  width: 100%;
  background-color: #FCFCFC; }

div.container {
  margin: 0 auto;
  padding: 12px 0;
  width: 80%; }

div.row {
  display: flex; }

div.section {
  margin-bottom: 24px; }

div.icon {
  position: relative;
  width: 48px  !important;
  height: 48px !important;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6FA;
  cursor: pointer; }
  div.icon .icon-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  div.icon span {
    z-index: 0;
    color: #C5C3C6; }

div.entry-container {
  padding-bottom: 20px; }
  div.entry-container div.entry {
    transition: all 0.1s; }
    div.entry-container div.entry .actions {
      padding-bottom: 6px;
      font-size: 12px; }
      div.entry-container div.entry .actions .action {
        margin-right: 8px;
        transition: all 0.2s; }
      div.entry-container div.entry .actions .timestamp {
        color: #C5C3C6; }
      div.entry-container div.entry .actions .stamprize, div.entry-container div.entry .actions .totsuzenize {
        color: transparent; }
    div.entry-container div.entry .contents {
      display: flex; }
      div.entry-container div.entry .contents .icon-box {
        padding-right: 6px; }
      div.entry-container div.entry .contents .contents-box {
        width: 0%;
        flex: 1; }
        div.entry-container div.entry .contents .contents-box > div {
          width: 100%; }
        div.entry-container div.entry .contents .contents-box span {
          margin: 0;
          padding: 0;
          font-size: 16px;
          color: #46494C; }
  div.entry-container:hover {
    background-color: #F6F6FA; }
    div.entry-container:hover div.entry {
      cursor: pointer; }
      div.entry-container:hover div.entry .stamprize, div.entry-container:hover div.entry .totsuzenize {
        color: #C5C3C6; }
      div.entry-container:hover div.entry .timestamp:hover, div.entry-container:hover div.entry .stamprize:hover, div.entry-container:hover div.entry .totsuzenize:hover {
        cursor: pointer;
        color: #FF6347; }

blockquote {
  margin: 0;
  padding: 6px 14px 0px 14px;
  border-left: solid 4px #016FB9;
  font-size: 16px; }

.justify {
  display: flex;
  align-items: center;
  justify-content: center; }

.load-more {
  transition: all 0.2s;
  cursor: pointer;
  color: #C5C3C6; }

.load-more:hover {
  color: #FF6347; }

@keyframes loading {
  0% {
    width: 48px;
    height: 0px; }
  25% {
    width: 0px;
    height: 48px;
    border-top: solid 0px #FF6347;
    border-bottom: solid 0px #FF6347; }
  50% {
    width: 48px;
    height: 48px; }
  75% {
    width: 48px;
    height: 0px;
    border-right: solid 0px #FF6347;
    border-left: solid 0px #FF6347; }
  100% {
    width: 48px;
    height: 0px; } }

div.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border: solid 24px #FF6347;
  border-radius: 24px;
  box-sizing: border-box;
  background-color: #FF6347; }

div.loading-container {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center; }

.button.primary {
  font-size: 16px;
  border: none;
  font-family: Helvetica;
  padding: 12px 32px;
  border-radius: 4px;
  color: white;
  background-color: #016FB9;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s; }

.button.primary:hover {
  background-color: #014060; }

.stamps {
  flex-wrap: wrap; }
  .stamps .button.stamp {
    border: none;
    transition: all 0.1s;
    font-size: 12px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: solid 1px transparent;
    word-break: keep-all;
    padding: 6px; }
  .stamps .button.stamp:hover {
    border: solid 1px #FF6347; }

textarea#message-input {
  border: none;
  font-size: 1em;
  resize: none;
  transition: all 0.2s;
  border-bottom: solid 1px #C5C3C6;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent; }

div#message-input-container {
  position: relative; }
  div#message-input-container textarea#message-input::-webkit-input-placeholder {
    color: #C5C3C6; }
  div#message-input-container textarea#message-input::-moz-placeholder {
    color: #C5C3C6; }
  div#message-input-container textarea#message-input:focus {
    border-bottom: solid 2px #FF6347; }
  div#message-input-container div.actions {
    position: absolute;
    right: 0;
    bottom: 10px;
    text-align: right; }
    div#message-input-container div.actions button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: #C5C3C6;
      transition: all 0.2s; }
    div#message-input-container div.actions button:focus {
      color: #FF6347; }
  div#message-input-container textarea#message-input:focus + div.actions button {
    color: #FF6347; }

div#members > div {
  margin-right: 6px; }

twitterwidget {
  margin: 0 !important; }

div.twitterwidget-wrapper {
  max-width: 80%; }

.entries-enter {
  opacity: 0.01; }

.entries-enter.entries-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in; }

.entries-leave {
  opacity: 1; }

.entries-leave.entries-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in; }

div#tool-bar {
  position: fixed;
  right: 0;
  bottom: 0; }
  div#tool-bar div.tool-item {
    width: 60px;
    height: 60px;
    cursor: pointer; }
    div#tool-bar div.tool-item i {
      transition: all 0.2s;
      font-size: 2em;
      color: #C5C3C6;
      text-shadow: 0 1px 0 white; }
    div#tool-bar div.tool-item:hover i {
      color: #46494C; }
