/* TODO: Use sass */
html {
  font-family: Helvetica;
}

html, body {
  margin:    0;
  padding:   0;
  width:  100%;
  height: 100%;
}

main#app {
  width:  100%;
  height: 100%;
}

div.container {
  margin:  0 auto;
  padding: 12px 0;
  width:      80%;
}

div.row {
  display: flex;
}
