<div id="newMessage">
  <input type="text" id="message" size="60" autocomplete="off" autofocus>
  <br>
  <input type="submit" value="ﾍｲｯ!ﾍｲｯ!ﾍｲｯ!" id="hey">
  <input type="submit" value="ｽﾀｰﾀﾞｯｼｭ!!!" id="start-dash">
  <input type="submit" value="+1" id="plus1">
  <input type="submit" value="send" id="send" style="display:none">
  <label class="clickable"><input type="checkbox" id="enable-notification" checked="true">通知</label>
  <br>
  <input type="submit" value="穏やかじゃない" id="odayaka">
  <input type="submit" value="穏やかじゃないうえにざわめく" id="zawameku">
  <input type="submit" value="プレイリスト再生" id="playlist-start">
</div>
