<script type="text/javascript" src="/public/javascripts/swfobject.js"></script>    
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script type="text/html" id="tmpl_base_globalplayer">
  <% if (Sound.Source.Vendor.Name == 'youtube') { %>
    <div id="ytapiplayer">
      You need Flash player 8+ and JavaScript enabled to view this video.
    </div>
  <% } else if (Sound.Source.Vendor.Name == 'soundcloud') { %>
    <iframe id="sc-widget" width="410" height="220" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url="></iframe>
  <% } %>
</script>
