<script type="text/html" id="tmpl_base_preview">
  <div id="<%= Id %>" class="web-preview">
    <div class="og-title">
      <a href="<%= URL %>" target="_blank">
        <h5><%= Title %></h5>
      </a>
    </div>
    <div class="og-contents boxy">
      <div class="og-image">
        <a href="<%= URL %>" target="_blank">
          <img src="<%= Image %>">
        </a>
      </div>
      <div class="og-description">
        <a href="<%= URL %>" target="_blank">
          <p><%= Description %></p>
        </a>
      </div>
    </div>
  </div>
</script>
