
div.container {
  margin:  0 auto;
  padding: 12px 0;
  width:      80%;
}

div.row {
  display: flex;
}
div.section {
  margin-bottom: 24px;
}

div.icon {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  .icon-image {
    width:  100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  span {
    position: absolute;
    z-index: 0;
  }
}

div.entry {
  padding-bottom: 20px;
  $space: 6px;
  .actions {
    padding-bottom: $space;
    font-size: 12px;
    .timestamp {
      color: #dbdbdb;
    }
  }
  .contents {
    .icon-box {
      padding-right: $space;
    }
    .contents-box {
      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #303030;
      }
    }
  }
}
