@import "theme";
@import "amesh-entry";

html {
  background-color: $background-color;
  overflow-x: hidden;
  overflow-y: scroll;
}
main#app {
  width:  100%;
  background-color: $background-color;
}

div.container {
  margin:  0 auto;
  padding: 12px 0;
  width:      80%;
}

div.row {
  display: flex;
}
div.section {
  margin-bottom: 24px;
}

div.icon {
  position: relative;
  width: 48px  !important;
  height: 48px !important;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pale;
  cursor: pointer;
  .icon-image {
    width:  100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
  }
  span {
    z-index: 0;
    color: $weak;
  }
}

div.entry-container {
  padding-bottom: 20px;
  div.entry {
    transition: all 0.1s;
    $space: 6px;
    .actions {
      padding-bottom: $space;
      font-size: 12px;
      .action {
        margin-right: 8px;
        transition: all 0.2s;
      }
      .timestamp {
        color: $weak;
        flex:  1;
      }
      .stamprize, .totsuzenize, .pin {
        color: transparent;
        font-size: 18px !important; // TODO: Refactor
      }
    }
    .contents {
      display: flex;
      .icon-box {
        padding-right: $space;
      }
      .contents-box {
        // {{{ XXX: not sure why it's needed
        width: 0%;
        flex:  1;
        // }}}
        &>div {
          width: 100%;
        }
        span {
          margin: 0;
          padding: 0;
          font-size: 16px;
          color: $text;
        }
        // {{{ TODO: Separate files
        >div.timezone {
          max-width: 540px;
          >div.user-timezone {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 6px;
            >div.user-timezone-username {
              font-weight: bold;
            }
            .zone {
              font-style: italic;
            }
            $small: "screen and (max-width:540px)";
            @media #{"not" $small} {
              >div.user-timezone-username {
                flex: 1;
              }
              >div.user-timezone-contents {
                display: flex;
                flex: 2;
                >div {
                  flex: 1;
                }
              }
            }
            @media #{"only" $small} {
              >div.user-timezone-username {
                width: 100%;
              }
              >div.user-timezone-contents {
                width: 100%;
                border-bottom: solid thin $weak;
                >div.name {
                  float: left;
                }
                >div.zone {
                  float: right;
                }
              }
            }
          }
        }
        // }}}
      }
      img.embed {
        max-height: 240px;
        max-width: 100%;
      }
      blockquote.embed {
        &>div>h5 {
          margin: 0;
          padding: 0;
        }
        &>div>div>img {
          width: 100%;
        }
      }
    }
  }
  &:hover {
    background-color: $pale;
    div.entry {
      cursor: pointer;
      .stamprize, .totsuzenize, .pin {
        color: $weak;
      }
      .timestamp:hover, .stamprize:hover, .totsuzenize:hover, .pin:hover {
        cursor: pointer;
        color: $primary;
      }
    }
  }
}

blockquote {
  margin: 0;
  padding: 6px 0px 8px 14px;
  border-left: solid 4px $secondary;
  font-size: 16px;
}

.justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more {
  transition: all 0.2s;
  cursor: pointer;
  color: $weak;
}
.load-more:hover {
  color: $primary;
}
// loading
@keyframes loading {
    0% {
      width:  48px;
      height: 0px;
    }
    25% {
      width:   0px;
      height: 48px;
      border-top: solid 0px $primary;
      border-bottom: solid 0px $primary;
    }
    50% {
      width:  48px;
      height: 48px;
    }
    75% {
      width: 48px;
      height: 0px;
      border-right: solid 0px $primary;
      border-left: solid 0px $primary;
    }
    100% {
      width:  48px;
      height: 0px;
    }
}
div.loading {
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border: solid 24px $primary;
  border-radius: 24px;
  box-sizing: border-box;
  background-color: $primary;
}
div.loading-container {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// button
.button.primary {
  font-size: 16px;
  border: none;
  font-family: Helvetica;
  padding: 12px 32px;
  border-radius: 4px;
  color: white;
  background-color: $secondary;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s;
}
.button.primary:hover {
  background-color: #014060;
}

.stamps {
  flex-wrap: wrap;
  >div {
    overflow: hidden;
    .button.stamp {
      width:            100%;
      border:           none;
      transition:   all 0.1s;
      font-size:        12px;
      background-color: transparent;
      border-radius:     4px;
      cursor:        pointer;
      box-sizing: border-box;
      border: solid 1px transparent;
      word-break:   keep-all;
      padding:           6px;
    }
    .button.stamp:hover {
      border: solid 1px $primary;
    }
  }
}
