html {
  font-family: Helvetica;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

html, body {
  margin:    0;
  padding:   0;
  width:  100%;
  height: 100%;
}

main#app {
  width:  100%;
  height: 100%;
}
