{{set . "title" "CHANT"}}

<!-- heading -->
{{template "header.html" .}}

<!-- contents -->
{{template "partial/room/confscript.html" .}}

{{template "partial/room/header.html"}}
{{template "partial/post.html" .}}
{{template "partial/room/info.html"}}
{{template "partial/room/dynamic-container.html" .}}
{{template "partial/room/footer.html" .}}

<!-- templating -->
{{template "tmpl/event/message.html"}}
{{template "tmpl/event/message_quote.html"}}
{{template "tmpl/event/leave.html"}}
{{template "tmpl/event/join.html"}}
{{template "tmpl/base/globalplayer.html"}}
{{template "tmpl/base/playlist/sound.html"}}
{{template "tmpl/base/youtube.html"}}
{{template "tmpl/base/soundcloud.html"}}
{{template "tmpl/base/stamp.html"}}
{{template "tmpl/base/preview.html"}}
{{template "tmpl/roominfo/users.html"}}

<!-- flash -->
{{template "partial/flash.html"}}

<!-- footing -->
{{template "footer.html" .}}
