<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css" -->
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/room.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/javascripts/jquery-1.10.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/templating.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <script src="/public/javascripts/chant.js" type="text/javascript" charset="utf-8"></script>
    <!-- mobile -->
    <!-- meta name="apple-mobile-web-app-capable" content="yes" -->
    <!-- meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" -->
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png"/>

  </head>
  <body>
    <h1 class="clickable">CHA<span class="highlight">N</span>T</h1>
