<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link id="favicon" rel="shortcut icon" href="/public/img/icon.chant.mini.png"/>

    <!-- materialize -->
    <link rel="stylesheet" type="text/css" media="screen,projection" href="/public/css/materialize.min.css">
    <!-- script type="text/javascript" src="/public/js/materialize.js"></script -->

    <!-- ajax? -->
    <script type="text/javascript" src="/public/js/zepto-for-ajax.js"></script>

    <!-- twitter embed -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- react -->
    <script type="text/javascript" src="/public/js/react-with-addons-0.13.3.min.js"></script>
    <!-- script type="text/javascript" src="/public/js/JSXTransformer.js"></script -->

    <!-- mobile -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
    <link rel="apple-touch-icon" href="http://{{.Config.Server.host}}/public/img/apple-touch-icon.png"/>

    <link rel="stylesheet" href="/public/css/common.css">
    {{if .Config.Agent.is_mobile}}
      <link rel="stylesheet" href="/public/css/main.mobile.css">
    {{else}}
      <link rel="stylesheet" href="/public/css/main.desktop.css">
    {{end}}

  </head>
  <body>
